# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<main id="main" aria-label="Content" tabindex="-1" class="static_pages">
<h1>Educación Online (EOL)</h1>

<p>EOL es una plataforma para la enseñanza por internet de la Universidad de Chile, desarrollada por la Dirección de Servicios de Tecnologías de la Información y Comunicaciones (DSTI). Provee de espacios de aprendizaje para todos los niveles de la educación: pregrado, postgrado y educación continua; como complemento de la docencia presencial (b-learning) o 100 por ciento en línea (e-learning).</p>

<p>Entre las funcionalidades de la plataforma están el publicar videoclases, material escrito y podcast, soportar interacción entre alumnos, y gestionar evaluaciones de todo tipo, desde pruebas de selección múltiple, hasta preguntas de respuesta abierta con evaluación entre pares; tanto para cursos pequeños como de alta convocatoria.</p>

<p>La DSTI ofrece el servicio de plataforma online a las diferentes unidades académicas, así como también asesoría en la creación de los cursos (diseño instruccional), producción de material (de apoyo/educativo/etc.) y apoyo durante la ejecución de los cursos.</p>

<p>El proyecto EOL es una iniciativa conjunta de la DSTI y el Centro de Enseñanza y Aprendizaje (CEA), de la Facultad de Economía y Negocios, con la colaboración del equipo de Saberes Docentes, y con el Programa de Educación Continua Online de la Facultad de Medicina (Medichi).</p> 

</main>
