# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<main id="main" aria-label="Content" tabindex="-1" class="static_pages">
<h1>Preguntas Frecuentes</h1>
	<p><strong>¿Quién puede tomar cursos en la plataforma EOL?</strong></p>
	<p>La plataforma aloja a cursos orientados a distintos públicos. Los correspondientes a pregrado, postgrado y algunos diplomados son cerrados y su inscripción es solo por invitación, esto se señala en la información de cada curso. Los cursos de educación continua y extensión son abiertos y la inscripción depende del cumplimiento con los requisitos, puede inscribirse cualquier persona que cumpla con los requisitos.</p>

	<p><strong>¿Cuánto cuestan los cursos?</strong></p>
	<p>Los cursos abiertos tienen diferentes valores, los que están debidamente indicados en la información de cada uno.</p>

	<p><strong>Soy profesor de la Universidad de Chile y quiero hacer un curso online, ¿qué tengo que hacer?</strong></p>
	<p>Contactarnos al correo <a href="mailto:elearningsti@uchile.cl">elearningsti@uchile.cl</a>.</p>

</main>
